p {
  color: var(--white);
}

.item-container {
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 2px solid var(--grey);
  padding: 30px 20px 20px 20px;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-title {
  border-bottom: 2px solid var(--grey);
  padding-bottom: 13px;
  margin-bottom: 0;
  font-size: var(--font-medium);
  font-weight: bold;
}

.time-title {
  margin-bottom: 24px;
  font-size: var(--font-medium);
  font-weight: bold;
}

.time {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--grey);
}

.location {
  margin-top: 31px;
}

.text-body {
  color: var(--grey);
  font-size: var(--font-normal);
  line-height: 1.7;
}

.left-section {
  width: 20%;
}

.right-section {
  width: 30%;
}

.right-section p,
.right-section .time {
  text-align: right;
}

.middle-section {
  width: 50%;
}

.middle-section p {
  text-align: left;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.date {
  font-size: var(--font-large);
  font-weight: bold;
  display: table-caption;
}

.event-details {
  color: var(--orange-color);
  font-size: var(--font-normal);
  text-align: left;
  margin-left: 20%;
  margin-top: 0;
}

/* Tablet */

@media only screen and (max-width: 769px) {
  .item-container {
    padding: 30px 0px 20px 0px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right-section {
    width: 30%;
  }
}

/* Phones */
@media only screen and (max-width: 426px) {
  .event-container {
    display: block;
  }

  .right-section,
  .left-section,
  .middle-section {
    width: 100%;
    text-align: left;
    margin-top: -12px;
  }

  .event-details {
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }

  .description {
    display: none;
  }

  .right-section p,
  .right-section .time {
    text-align: left;
  }
  .sub-title,
  .date {
    font-size: var(--font-medium);
  }

  .date {
    display: table-cell;
  }
  .date-superscript {
    display: none;
  }
  .item-container {
    padding: 30px 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
