:root {
  --dark-color: #161616;
  --orange-color: #ee7b41;
  --light-orange-color: #f28c04;
  --white: #fff;
  --black: #000;
  --grey: #8b8a8a;
  --font-normal: 14px;
  --font-medium: 18px;
  --font-large: 25px;
}
